openapi: 3.0.3
info:
  title: Generated API
  version: 1.0.0
servers:
  - url: https://api.trackier.com
paths:
  /endpoint:
    post:
      operationId: post_endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointPostResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointPostResponse'
components:
  schemas:
    EndpointPostResponse:
      type: object
      properties:
        openapi:
          type: string
          example: 3.0.3
        info:
          type: object
          properties:
            title:
              type: string
              example: Trackier Admin API Docs
            version:
              type: string
              example: 1.0.0
            description:
              type: string
              example: Full OpenAPI generated from Postman collection
          required:
            - title
            - version
            - description
        servers:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
                example: https://api.trackier.com
            required:
              - url
        paths:
          type: object
          properties:
            /v2/offers/incent:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Find all incent offers
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
              required:
                - get
            /v2/publishers/17/transactions:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Transactions & Payments
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
              required:
                - get
            /v2/publishers/:id:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Find Publisher by ID
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
                delete:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Delete a publisher
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
              required:
                - get
                - delete
            /v2/publishers/921:
              type: object
              properties:
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Edit a publisher
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                    requestBody:
                      type: object
                      properties:
                        required:
                          type: boolean
                          example: true
                        content:
                          type: object
                          properties:
                            application/json:
                              type: object
                              properties:
                                schema:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: object
                                    example:
                                      type: object
                                      properties:
                                        username:
                                          type: string
                                          example: test
                                      required:
                                        - username
                                  required:
                                    - type
                                    - example
                              required:
                                - schema
                          required:
                            - application/json
                      required:
                        - required
                        - content
                  required:
                    - summary
                    - responses
                    - requestBody
              required:
                - post
            /v2/publishers/:publisherId/subaccounts/:id:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Find Sub Account of Publisher By Id
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
                delete:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Delete Sub Account of Publisher
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
              required:
                - get
                - delete
            /v2/publishers/17/subaccounts/16:
              type: object
              properties:
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Edit Sub Account of Publisher
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                    requestBody:
                      type: object
                      properties:
                        required:
                          type: boolean
                          example: true
                        content:
                          type: object
                          properties:
                            application/json:
                              type: object
                              properties:
                                schema:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: object
                                    example:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          example: string
                                      required:
                                        - name
                                  required:
                                    - type
                                    - example
                              required:
                                - schema
                          required:
                            - application/json
                      required:
                        - required
                        - content
                  required:
                    - summary
                    - responses
                    - requestBody
              required:
                - post
            /v2/publishers/:publisherId/subaccounts:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Get All Sub Accounts of Publisher
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
              required:
                - get
            /v2/publishers/17/subaccounts:
              type: object
              properties:
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Create Sub Account for Publisher
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                    requestBody:
                      type: object
                      properties:
                        required:
                          type: boolean
                          example: true
                        content:
                          type: object
                          properties:
                            application/json:
                              type: object
                              properties:
                                schema:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: object
                                    example:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          example: string
                                        email:
                                          type: string
                                          example: '{{unique_email}}'
                                        status:
                                          type: string
                                          example: paused
                                        username:
                                          type: string
                                          example: string
                                      required:
                                        - name
                                        - email
                                        - status
                                        - username
                                  required:
                                    - type
                                    - example
                              required:
                                - schema
                          required:
                            - application/json
                      required:
                        - required
                        - content
                  required:
                    - summary
                    - responses
                    - requestBody
              required:
                - post
            /v2/publishers/17/notes/68b5440e4d740b1ce046766f:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Find Publisher Note
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
              required:
                - get
            /v2/publishers/:pubId/notes/:noteId:
              type: object
              properties:
                delete:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Delete Publisher Note
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
              required:
                - delete
            /v2/publishers/17/notes:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Find All Publisher Notes
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Create Publisher Notes
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                    requestBody:
                      type: object
                      properties:
                        required:
                          type: boolean
                          example: true
                        content:
                          type: object
                          properties:
                            application/json:
                              type: object
                              properties:
                                schema:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: object
                                    example:
                                      type: object
                                      properties:
                                        message:
                                          type: string
                                          example: string
                                      required:
                                        - message
                                  required:
                                    - type
                                    - example
                              required:
                                - schema
                          required:
                            - application/json
                      required:
                        - required
                        - content
                  required:
                    - summary
                    - responses
                    - requestBody
              required:
                - get
                - post
            /v2/publishers:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Find all publishers
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: createpubliser
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                    requestBody:
                      type: object
                      properties:
                        required:
                          type: boolean
                          example: true
                        content:
                          type: object
                          properties:
                            application/json:
                              type: object
                              properties:
                                schema:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: object
                                    example:
                                      type: object
                                      properties:
                                        username:
                                          type: string
                                          example: Nikhiltestuser02
                                        name:
                                          type: string
                                          example: Test User
                                        email:
                                          type: string
                                          format: email
                                          example: testuseor9902@example.com
                                        password:
                                          type: string
                                          example: Test@1234
                                      required:
                                        - username
                                        - name
                                        - email
                                        - password
                                  required:
                                    - type
                                    - example
                              required:
                                - schema
                          required:
                            - application/json
                      required:
                        - required
                        - content
                  required:
                    - summary
                    - responses
                    - requestBody
              required:
                - get
                - post
            /v2/advertisers/:advertiserId/subaccounts/:id:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Find Sub Account of Advertiser By Id
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
                delete:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Delete Sub Account of Advertiser
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
              required:
                - get
                - delete
            /v2/advertisers/925/subaccounts/1:
              type: object
              properties:
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Edit Sub Account of Advertiser
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                    requestBody:
                      type: object
                      properties:
                        required:
                          type: boolean
                          example: true
                        content:
                          type: object
                          properties:
                            application/json:
                              type: object
                              properties:
                                schema:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: object
                                    example:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          example: string
                                      required:
                                        - name
                                  required:
                                    - type
                                    - example
                              required:
                                - schema
                          required:
                            - application/json
                      required:
                        - required
                        - content
                  required:
                    - summary
                    - responses
                    - requestBody
              required:
                - post
            /v2/advertisers/:advertiserId/subaccounts:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Get All Sub Accounts of Advertiser
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
              required:
                - get
            /v2/advertisers/925/subaccounts:
              type: object
              properties:
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Create Sub Account for Advertiser
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                    requestBody:
                      type: object
                      properties:
                        required:
                          type: boolean
                          example: true
                        content:
                          type: object
                          properties:
                            application/json:
                              type: object
                              properties:
                                schema:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: object
                                    example:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          example: string
                                        email:
                                          type: string
                                          example: '{{unique_email}}'
                                        status:
                                          type: string
                                          example: paused
                                        username:
                                          type: string
                                          example: string
                                        password:
                                          type: string
                                          example: string
                                        meta:
                                          type: object
                                          properties:
                                            skype:
                                              type: string
                                              example: string
                                          required:
                                            - skype
                                      required:
                                        - name
                                        - email
                                        - status
                                        - username
                                        - password
                                        - meta
                                  required:
                                    - type
                                    - example
                              required:
                                - schema
                          required:
                            - application/json
                      required:
                        - required
                        - content
                  required:
                    - summary
                    - responses
                    - requestBody
              required:
                - post
            /v2/advertisers/:id:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Find a single advertiser
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
                delete:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Delete an Advertiser
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
              required:
                - get
                - delete
            /v2/advertisers/925:
              type: object
              properties:
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Update an Advertiser
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                    requestBody:
                      type: object
                      properties:
                        required:
                          type: boolean
                          example: true
                        content:
                          type: object
                          properties:
                            application/json:
                              type: object
                              properties:
                                schema:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: object
                                    example:
                                      type: object
                                      properties:
                                        username:
                                          type: string
                                          example: test
                                      required:
                                        - username
                                  required:
                                    - type
                                    - example
                              required:
                                - schema
                          required:
                            - application/json
                      required:
                        - required
                        - content
                  required:
                    - summary
                    - responses
                    - requestBody
              required:
                - post
            /v2/advertisers/:advertiser_id/caps/:cap_id:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Find an Advertiser Cap
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
                delete:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Delete Advertiser Cap
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
              required:
                - get
                - delete
            /v2/advertisers/417/caps/68b8721f520a3534146c5c37:
              type: object
              properties:
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Edit Advertiser Cap
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                    requestBody:
                      type: object
                      properties:
                        required:
                          type: boolean
                          example: true
                        content:
                          type: object
                          properties:
                            application/json:
                              type: object
                              properties:
                                schema:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: object
                                    example:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                          example: conversion
                                        pubCapType:
                                          type: string
                                          example: group
                                        daily:
                                          type: integer
                                          example: 3823
                                      required:
                                        - type
                                        - pubCapType
                                        - daily
                                  required:
                                    - type
                                    - example
                              required:
                                - schema
                          required:
                            - application/json
                      required:
                        - required
                        - content
                  required:
                    - summary
                    - responses
                    - requestBody
              required:
                - post
            /v2/advertisers/:advertiser_id/caps:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Find All Advertiser Caps
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
              required:
                - get
            /v2/advertisers/417/caps:
              type: object
              properties:
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Create Advertiser Cap
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                    requestBody:
                      type: object
                      properties:
                        required:
                          type: boolean
                          example: true
                        content:
                          type: object
                          properties:
                            application/json:
                              type: object
                              properties:
                                schema:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: object
                                    example:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                          example: approvedConv
                                        pubCapType:
                                          type: string
                                          example: group
                                        daily:
                                          type: integer
                                          example: 6731
                                      required:
                                        - type
                                        - pubCapType
                                        - daily
                                  required:
                                    - type
                                    - example
                              required:
                                - schema
                          required:
                            - application/json
                      required:
                        - required
                        - content
                  required:
                    - summary
                    - responses
                    - requestBody
              required:
                - post
            /v2/advertisers/:advId/notes/:noteId:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Find Advertiser Note
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
                delete:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Delete Advertiser Note
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
              required:
                - get
                - delete
            /v2/advertisers/:advId/notes:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Find All Advertiser Notes
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Create Advertiser Notes
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                    requestBody:
                      type: object
                      properties:
                        required:
                          type: boolean
                          example: true
                        content:
                          type: object
                          properties:
                            application/json:
                              type: object
                              properties:
                                schema:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: object
                                    example:
                                      type: object
                                      properties:
                                        message:
                                          type: string
                                          example: tesrt
                                      required:
                                        - message
                                  required:
                                    - type
                                    - example
                              required:
                                - schema
                          required:
                            - application/json
                      required:
                        - required
                        - content
                  required:
                    - summary
                    - responses
                    - requestBody
              required:
                - get
                - post
            /v2/advertisers:
              type: object
              properties:
                get:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Find All Advertisers
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Create an advertiser
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                    requestBody:
                      type: object
                      properties:
                        required:
                          type: boolean
                          example: true
                        content:
                          type: object
                          properties:
                            application/json:
                              type: object
                              properties:
                                schema:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: object
                                    example:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          example: string
                                        email:
                                          type: string
                                          example: '{{unique_email}}'
                                        password:
                                          type: string
                                          example: string
                                        username:
                                          type: string
                                          example: string
                                        company:
                                          type: string
                                          example: string
                                      required:
                                        - name
                                        - email
                                        - password
                                        - username
                                        - company
                                  required:
                                    - type
                                    - example
                              required:
                                - schema
                          required:
                            - application/json
                      required:
                        - required
                        - content
                  required:
                    - summary
                    - responses
                    - requestBody
              required:
                - get
                - post
            /v2/login:
              type: object
              properties:
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Basic Login Endpoint
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                    requestBody:
                      type: object
                      properties:
                        required:
                          type: boolean
                          example: true
                        content:
                          type: object
                          properties:
                            application/json:
                              type: object
                              properties:
                                schema:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: object
                                    example:
                                      type: object
                                      properties:
                                        password:
                                          type: string
                                          example: test@123#
                                        email:
                                          type: string
                                          format: email
                                          example: newmem@yopmail.com
                                        networkUrl:
                                          type: string
                                          format: uri
                                          example: https://internal-demo.trackier.io/
                                      required:
                                        - password
                                        - email
                                        - networkUrl
                                  required:
                                    - type
                                    - example
                              required:
                                - schema
                          required:
                            - application/json
                      required:
                        - required
                        - content
                  required:
                    - summary
                    - responses
                    - requestBody
              required:
                - post
            /v2/campaigns/358/thumbnail:
              type: object
              properties:
                post:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Edit Campaign Thumbnail
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Bad request
                          required:
                            - description
                        '401':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Unauthorized
                          required:
                            - description
                        '500':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Server error
                          required:
                            - description
                      required:
                        - '200'
                        - '400'
                        - '401'
                        - '500'
                  required:
                    - summary
                    - responses
                delete:
                  type: object
                  properties:
                    summary:
                      type: string
                      example: Delete Campaign Thumbnail
                    responses:
                      type: object
                      properties:
                        '200':
                          type: object
                          properties:
                            description:
                              type: string
                              example: Successful response
                          required:
                            - description
                        '400':
[...]
