openapi: 3.0.3
info:
  title: Trackier Admin API
  version: 1.0.0
  description: Security testing optimized OpenAPI specification

servers:
  - url: https://api.trackier.com

security:
  - ApiKeyAuth: []

components:

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key

  parameters:

    PublisherId:
      name: publisherId
      in: path
      required: true
      schema:
        type: string
      description: Publisher unique ID

    CampaignId:
      name: campaignId
      in: path
      required: true
      schema:
        type: string

    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        example: 1

    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 500
        example: 50

  schemas:

    Publisher:
      type: object
      properties:
        name:
          type: string
          example: test publisher
        email:
          type: string
          format: email
        status:
          type: string
          enum:
            - active
            - paused
            - blocked

    Campaign:
      type: object
      properties:
        name:
          type: string
          example: summer campaign
        status:
          type: string
          enum:
            - active
            - paused
        payout:
          type: number
          example: 2.5

paths:

  /v2/publishers:

    get:
      summary: Get all publishers
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Publisher list

    post:
      summary: Create publisher
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Publisher'
      responses:
        '201':
          description: Publisher created

  /v2/publishers/{publisherId}:

    parameters:
      - $ref: '#/components/parameters/16'

    get:
      summary: Get publisher by ID
      responses:
        '200':
          description: Publisher details

    delete:
      summary: Delete publisher
      responses:
        '200':
          description: Publisher deleted

  /v2/publishers/{17}/transactions:

    parameters:
      - $ref: '#/components/parameters/PublisherId'

    get:
      summary: Get publisher transactions
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Transaction list

  /v2/campaigns:

    get:
      summary: Get campaigns
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Campaign list

    post:
      summary: Create campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Campaign'
      responses:
        '201':
          description: Campaign created

  /v2/campaigns/{campaignId}:

    parameters:
      - $ref: '#/components/parameters/CampaignId'

    get:
      summary: Get campaign
      responses:
        '200':
          description: Campaign details

    delete:
      summary: Delete campaign
      responses:
        '200':
          description: Campaign deleted

  /v2/login:

    post:
      summary: Login endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login success
