openapi: 3.0.3
info:
  title: Trackier Publisher API
  version: 1.0.0
  description: Publisher APIs extracted from full Trackier collection

servers:
  - url: https://api.trackier.com

paths:

  /v2/publishers:
    get:
      summary: Find all publishers
      responses:
        '200': { description: Successful response }
        '400': { description: Bad request }
        '401': { description: Unauthorized }
        '500': { description: Server error }

    post:
      summary: Create publisher
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                username: Nikhiltestuser02
                name: Test User
                email: testuser@example.com
                password: Test@1234
      responses:
        '200': { description: Successful response }
        '400': { description: Bad request }
        '401': { description: Unauthorized }
        '500': { description: Server error }

  /v2/publishers/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer

    get:
      summary: Find Publisher by ID
      responses:
        '200': { description: Successful response }

    delete:
      summary: Delete Publisher
      responses:
        '200': { description: Successful response }

  /v2/publishers/{id}:
    post:
      summary: Update Publisher
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                username: updatedUser
      responses:
        '200': { description: Successful response }

  /v2/publishers/{publisherId}/transactions:
    parameters:
      - name: publisherId
        in: path
        required: true
        schema:
          type: integer
    get:
      summary: Transactions & Payments
      responses:
        '200': { description: Successful response }

  /v2/publishers/{publisherId}/subaccounts:
    parameters:
      - name: publisherId
        in: path
        required: true
        schema:
          type: integer

    get:
      summary: Get All Sub Accounts of Publisher
      responses:
        '200': { description: Successful response }

    post:
      summary: Create Sub Account for Publisher
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                name: string
                email: user@example.com
                status: paused
                username: string
      responses:
        '200': { description: Successful response }

  /v2/publishers/{publisherId}/subaccounts/{id}:
    parameters:
      - name: publisherId
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer

    get:
      summary: Find Sub Account of Publisher By Id
      responses:
        '200': { description: Successful response }

    post:
      summary: Edit Sub Account of Publisher
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                name: string
      responses:
        '200': { description: Successful response }

    delete:
      summary: Delete Sub Account of Publisher
      responses:
        '200': { description: Successful response }

  /v2/publishers/{publisherId}/notes:
    parameters:
      - name: publisherId
        in: path
        required: true
        schema:
          type: integer

    get:
      summary: Find All Publisher Notes
      responses:
        '200': { description: Successful response }

    post:
      summary: Create Publisher Note
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                message: string
      responses:
        '200': { description: Successful response }

  /v2/publishers/{publisherId}/notes/{noteId}:
    parameters:
      - name: publisherId
        in: path
        required: true
        schema:
          type: integer
      - name: noteId
        in: path
        required: true
        schema:
          type: string

    get:
      summary: Find Publisher Note
      responses:
        '200': { description: Successful response }

    delete:
      summary: Delete Publisher Note
      responses:
        '200': { description: Successful response }

  /v2/signupfields/publisher:
    get:
      summary: Publisher Signup Questions
      responses:
        '200': { description: Successful response }
